/* styles.css */
#container {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100vh; 
}
/* Size of Map */
#map {
    height: 100vh;
    width: 80%;
    border: 2px solid #000; 
    order: 1; /* ensure its position */
    position: relative;

    /* Background */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;

    /* Shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    display: inline-block;
    vertical-align: top;
}
.layer-control {
    background: white;
    border: 1px solid #ccc;
    padding: 2px;
    position: absolute;
    top: 50%; /* 垂直居中 */
    right: 8px; /* 距离右边20像素 */
    transform: translateY(-50%); /* 调整垂直位置 */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 100; /* 确保在地图之上 */
    width: auto; /* 设为自动宽度，或指定一个具体的宽度，例如 150px */
}
.layer-icon {
    width: 30px;
    height: 27px;
    cursor: pointer;
    margin: 3px;
}
/* active function when clicking */
.layer-icon:active {
    transform: scale(0.5);  /* 按下时略微缩小 */
}
#layerPanel {
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 6px 0; /* 上下左右的内边距，底部设为 0 */
    position: absolute; /* 使用绝对定位 */
    top: 50px;           /* 面板显示的位置 */
    right: 0;            /* 面板始终靠右显示 */
    width: 100px;
    display: none;       /* 初始时隐藏面板 */
}
#layerPanel label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 0; /* 去掉 label 的下边距 */
    padding: 1px 0;   /* 减少上下间距 */
    line-height: 1;   /* 设置行高 */
}
#layerPanel input[type="checkbox"] {
    margin-right: 6px;
}
/* background of layer control */
.layer-control.open {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
/* Adding transition effect */
.layer-control, #layerPanel {
    transition: all 0.3s ease;
}

/*Box*/
#info, #pieChartWrapper {
    width: 20%;
    box-sizing: border-box;
    height: 90vh;
    
}

#info {
    width: 20%;
    max-height: 59vh;
    overflow-y: auto;
    order: 2; /* 将信息容器放在右侧 */
    
    /* 背景和边框 */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    
    /* 阴影效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    /* 内边距 */
    padding: 15px;
    
    /* 字体和颜色 */
    font-family: Arial, sans-serif;
    color: #333;
    
    /* 滚动条样式（兼容性较好） */
    scrollbar-width: thin;
    scrollbar-color: #888 #f9f9f9;

    right: 0;
    display: inline-block;
    vertical-align: top;
}

/* Customize the scrollbar style */
#info::-webkit-scrollbar {
    width: 8px;
}
#info::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
#info::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.legend {
    background-color:rgba(255, 255, 255, 0.8);
    padding: 6px;
    border: 1px solid #ccc;
    position: absolute; /* 使用绝对定位 */
    bottom: 5%;           /* 面板显示的位置 */
    left: 6px;          /* 面板始终靠左显示 */
    font-size: 14px;
    line-height: 1.5;
    z-index: 1;
    max-width: 300px;
    max-height: 400px;
}
/* REQI Legend */
.legend-reqi h3 {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
}
.legend-reqi .legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.legend-reqi div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend-reqi div:last-child {
    margin-bottom: 0;
}
/* HeatMap Legend */

.legend-color-bar {
    width: 20px;  /* 设置渐变条的宽度 */
    height: 200px; /* 设置渐变条的高度 */
    background: linear-gradient(to top, 
    rgba(0, 255, 255, 0), 
    rgba(0, 255, 255, 1), 
    rgba(0, 191, 255, 1), 
    rgba(0, 127, 255, 1), 
    rgba(0, 63, 255, 1), 
    rgba(0, 0, 255, 1), 
    rgba(63, 0, 255, 1), 
    rgba(127, 0, 255, 1), 
    rgba(191, 0, 255, 1), 
    rgba(255, 0, 255, 1), 
    rgba(255, 0, 191, 1), 
    rgba(255, 0, 127, 1), 
    rgba(255, 0, 63, 1), 
    rgba(255, 0, 0, 1)
    ); /* 使用线性渐变展示颜色过渡 */

    border: 1px solid black; /* 边框让渐变条更显眼 */
    margin-bottom: 10px; /* 给渐变条添加一点底部间距 */
}
.legend-labels {
    display: flex;
    flex-direction: column;  /* 垂直堆叠标签和渐变条 */
    align-items: center;
    text-align: center;
}
.high-label, .low-label {
    font-size: 14px;
    color: #333;
    text-align: center;      /* 确保文字内容居中 */
    width: 100%;             /* 宽度设置为100%以保证居中对齐 */
    margin: 5px 0;
}


/* the style of PieChart */
#pieChartWrapper {
    position: absolute;
    top: 72.5vh; /* 将饼图容器的上边界顶着 info 的下边界 */
    height: 98%; /* 高度自动适应剩余空间 */
    width: 19.8%; /* 固定宽度以避免影响其他内容 */
    bottom: 0; /* 使容器的下边界与页面底部对齐 */
    max-height: 40vh;
    order: 2; /* 将信息容器放在右侧 */

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin-bottom: 5px;

    /* 字体和对齐 */
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    right: 6px;
    bottom: 20px;

    display: inline-block;
    vertical-align: top;
}
#pieChartContainer {
    width: 90%;           /* 增加宽度 */
    height: 82%;          /* 增加高度 */
    margin: auto;         /* 水平和垂直居中对齐 */
    background-color: transparent;
    padding: 9px;
    border-radius: 1px;
    display: flex;        /* 使用 flexbox 布局 */
    justify-content: center; /* 水平居中 */
}

.button-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 100vh;           /* 设置容器高度为视口高度 */
}

/* Button */
#resetButton {
    background-color: rgb(184, 184, 185); /* 蓝绿色背景 */
    color: white;              /* 白色字体 */
    border: none;              /* 去掉边框 */
    padding: 8px 16px;        /* 上下左右的内边距 */
    font-size: 12px;           /* 字体大小 */
    border-radius: 8px;        /* 圆角效果 */
    cursor: pointer;          /* 鼠标指针效果 */
    transition: background-color 0.3s ease; /* 背景色渐变 */

    position: absolute; /* 使按钮脱离文档流 */
    top: 50px;          /* 距离顶部 60px */
    left: 8px;         /* 距离左侧 10px */
}
#resetButton:hover {
    background-color: rgb(142, 142, 142); /* 悬停时变暗的绿色 */
}
#resetButton:active {
    background-color: #2c3e50; /* 按下时变成更深的绿色 */
    transform: scale(0.98);     /* 按下时稍微缩小 */
}

/*title*/
h1 {
    font-size: 2.5em; /* 设置字体大小 */
    font-weight: bold; /* 加粗字体 */
    color: #2c3e50; /* 设置字体颜色 */
    text-align: center; /* 居中对齐 */
    margin: 16px 0; /* 上下边距 */
    padding: 10px; /* 内边距 */

    /* 背景颜色和纹理 */
    background-color: rgba(236, 240, 241, 0.8); /* 浅色背景，带透明度 */
    background-image: url('images/Henna.png'); /* 替换为你的纹理图像路径 */
    background-size: cover; /* 使背景图像覆盖整个区域 */
    background-position: center; /* 背景图像居中 */
    background-blend-mode: normal; /* 使颜色与图像混合 */

    border-radius: 10px; /* 圆角 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    text-transform: uppercase; /* 大写字母 */
    letter-spacing: 1px; /* 字母间距 */
}
h2 {
    text-align: center;
    padding: 0px; /* 设置较小的内边距 */
    margin-top: 12px;
}
